@model WestMotorsApp.Models.Car

@{
    ViewData["Title"] = "Детали автомобиля";
}

<h1>Детали автомобиля</h1>

<div>
    <h4>@Model.Brand @Model.Model</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ManufactureYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ManufactureYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mileage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mileage) км
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VIN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VIN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            **@Model.Price.ToString("C0")**
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Condition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Condition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArrivalDate)
        </dd>
        <dt class="col-sm-2">
            Фотография
        </dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.PhotoUrl))
            {
                <img src="@Model.PhotoUrl" alt="@Model.Brand @Model.Model" class="img-fluid" style="max-width: 500px; height: auto;" />
            }
            else
            {
                <img src="~/images/noimage.png" alt="Нет изображения" class="img-fluid" style="max-width: 500px; height: auto;" />
            }
        </dd>
    </dl>
</div>
<div class="mt-3">
    <a asp-action="Index" class="btn btn-secondary">Вернуться к списку</a>
    @if (User.IsInRole("Администратор"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Редактировать</a>
    }
    @if (User.Identity.IsAuthenticated && User.IsInRole("Клиент"))
    {
        <a asp-controller="ApplicationRequests" asp-action="CreateForCar" asp-route-carId="@Model.Id" class="btn btn-primary">Оставить заявку на покупку/тест-драйв</a>
    }
</div>